[Unit]
Description=Redis Exporter for Prometheus

[Service]
ExecStart={{ redis_exporter_symlink }} \
            {% if redis_exporter_check_keys != "" %}
                -check-keys {{ redis_exporter_check_keys }} \
            {% endif %}
            {% if redis_exporter_script != "" %}
                -script {{ redis_exporter_script }} \
            {% endif %}
            {% if redis_exporter_redis_password != "" %}
                -redis.password {{ redis_exporter_redis_password }} \
            {% endif %}
            {% if redis_exporter_redis_alias != "" %}
                -redis.alias {{ redis_exporter_redis_alias }} \
            {% endif %}
            {% if redis_exporter_redis_file != "" %}
                -redis.file {{ redis_exporter_redis_file }} \
            {% endif %}
                -log-format {{ redis_exporter_log_format }} \
                -redis.addr {{ redis_exporter_redis_addr }} \
                -namespace {{ redis_exporter_namespace }} \
                -web.listen-address {{ redis_exporter_web_listen_address }} \
                -web.telemetry-path {{ redis_exporter_web_telemetry_path }} \
                -use-cf-bindings {{ redis_exporter_use_cf_bindings }}

[Install]
WantedBy=multi-user.target